<div>
  <div>
    <div class="pull-left">
      <input type="file" id="file" multiple (change)="getFileDetails($event)">
    </div>
    <div class="pull-left">
      <button (click)="uploadFiles()">Upload</button>
    </div>
  </div>
  <div class="clearfix"></div>
  <div>
    <img src="http://127.0.0.1:90/liteStore6/upload/{{imagedir}}/{{uploadedfiles[i]}}" *ngFor="let uploadedfile of uploadedfiles; let i = index"
      class="img-thumbnail rounded float-left img-profile">
  </div>

</div>
<div class="clearfix"></div>